.container{
    width:63%;
    height:750px;
    background-color: white;
    border: 1px solid rgb(209, 193, 193);
    margin:auto;
    

}
.card-head{
    background-color: rgb(68, 65, 65);
    color: #ccc;
    text-align: center;
    height: 150px;
    margin-top: 0;
    padding: 30px;

}
.card-body{
    padding-left: 20px;
    font-size: medium;
}
.card1,.card2,.card3,.card4{
    width:41%;
    height:300px;
    border:1px solid #ccc;
    margin:50px;
    
    float:right;
    
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.card1,.card2{
    margin-bottom: 0;
    
}
.card1,.card3{
    margin-left: 0;
}

