.container{
    width:80%;
    height:800px;
    background-color: white;
    border: 1px solid rgb(209, 193, 193);
    margin:auto;

}
.card-head{
    background-color: rgb(68, 65, 65);
    color: #ccc;
    text-align: center;
    height: 100px;
    margin-top: 0;
    padding: 30px;

}
.card-body{
    padding:20px;
    word-spacing: 10px;
}
.card{
    width:40%;
    height:300px;
    border:1px solid #ccc;
    margin: 50px;
    padding: 0;
    float:right;
    
}
